<div class="dashboard-page">
<section class="create-new-post">
    <h2>Create New Post</h2>

    <form class="new-post-form">
        <div>
            <input class="post-title-input" placeholder="Title" type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <input class="post-body-input" placeholder="Body" id="post-body" name="post-body" />
        </div>
        <button type="submit" class="btn post-button">Post</button>
    </form>
</section>

{{#if posts.length}}
<section class="post-history">
    <h2 class="post-history-title">Post History</h2>
    <ol>
        {{#each posts as |post|}}
        <li class="each-post">
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}


<script src="/javascript/add-post.js"></script>

</div>