<form class="login-form">
    <div class="login-inputs">
        <input placeholder="Enter Email" type="text" id="email-login" />
    </div>
    <div class="login-inputs">
        <input placeholder="Enter Password"type="password" id="password-login" />
    </div>
    <div>
        <button type="submit">login</button>
    </div>
</form>

<form class="signup-form">
    <div class="login-inputs">
        <input placeholder="Enter Username" type="text" id="username-signup" />
    </div>
    <div class="login-inputs">
        <input placeholder="Enter Email" type="text" id="email-signup" />
    </div>
    <div class="login-inputs">
        <input placeholder="Enter Password" type="password" id="password-signup" />
    </div>
    <div>
        <button type="submit">signup</button>
    </div>
</form>

{{!-- ORIGIN public/javascript/login.js --}}
<script src="/javascript/login.js"></script>